name = "ekonavi-tus"
main = "src/index.ts"
compatibility_date = "2023-05-10"
compatibility_flags = ["nodejs_compat"]
logpush = true


[[queues.producers]]
queue = "upload-notification-dev"
binding = "UPLOAD_QUEUE"

# Queue for upload completion notifications

[[migrations]]
tag = "v1"
new_classes = ["UploadHandler"]

[[migrations]]
tag = "v2"
renamed_classes = [{ from = "UploadHandler", to = "AttachmentUploadHandler" }]
new_classes = ["BackupUploadHandler"]

[env.production]
name = "ekonavi-tus"
compatibility_flags = ["nodejs_compat"]

durable_objects.bindings = [
    { name = "ATTACHMENT_UPLOAD_HANDLER", script_name = "ekonavi-tus" ,class_name = "AttachmentUploadHandler" },
    { name = "BACKUP_UPLOAD_HANDLER", script_name = "ekonavi-tus" ,class_name = "BackupUploadHandler" }
]
r2_buckets = [
    { binding = "ATTACHMENT_BUCKET", bucket_name = "attachments", preview_bucket_name = "attachments" },
    { binding = "BACKUP_BUCKET", bucket_name = "backups", preview_bucket_name = "backups" }
]

[[env.production.queues.producers]]
queue = "upload-notification"
binding = "UPLOAD_QUEUE"


[env.staging]
name = "ekonavi-tus-staging"
compatibility_flags = ["nodejs_compat"]

durable_objects.bindings = [
    { name = "ATTACHMENT_UPLOAD_HANDLER", script_name = "ekonavi-tus-staging" , class_name = "AttachmentUploadHandler" },
    { name = "BACKUP_UPLOAD_HANDLER", script_name = "ekonavi-tus-staging" , class_name = "BackupUploadHandler" }
]
r2_buckets = [
    { binding = "ATTACHMENT_BUCKET", bucket_name = "attachments-staging", preview_bucket_name = "attachments-staging" },
    { binding = "BACKUP_BUCKET", bucket_name = "backups-staging", preview_bucket_name = "backups-staging" }
]

[[env.staging.queues.producers]]
queue = "upload-notification-staging"
binding = "UPLOAD_QUEUE"

[env.dev]
name = 'ekonavi-tus-dev'
compatibility_flags = ["nodejs_compat"]

durable_objects.bindings = [
    { name = "ATTACHMENT_UPLOAD_HANDLER", script_name = "ekonavi-tus-dev" , class_name = "AttachmentUploadHandler" },
    { name = "BACKUP_UPLOAD_HANDLER", script_name = "ekonavi-tus-dev" , class_name = "BackupUploadHandler" }
]
r2_buckets = [
    { binding = "ATTACHMENT_BUCKET", bucket_name = "attachments-dev", preview_bucket_name = "attachments-dev" },
    { binding = "BACKUP_BUCKET", bucket_name = "backups-dev", preview_bucket_name = "backups-dev" }
]

[[env.dev.queues.producers]]
queue = "upload-notification-dev"
binding = "UPLOAD_QUEUE"
